# Place this file inside: .local/share/applications/ folder in your home directory

[Desktop Entry]
Version=1.0
Name=Arduino IDE
Comment=Write code and flash to Arduino hardware
GenericName=Embedded electronics IDE
Keywords=Programming;Development
Exec=$HOME/ArduinoIDE/arduino.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=$HOME/ArduinoIDE/arduino.png
Categories=GNOME;GTK;Development;Programming;
MimeType=text/x-arduino;
StartupNotify=true
